################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Avançando com C++ - Entenda melhor a linguagem/JogoForca/.vs/JogoForca/v16
