################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Avançando com C++ - Entenda melhor a linguagem/JogoForca/.vs/JogoForca/v16
/Avançando com C++ - Entenda melhor a linguagem/ByteBank/.vs/ByteBank/v16
/Orientação a Objetos com C++ - Trabalhando com herança/ByteBank/.vs/ByteBank/v16/Browse.VC.opendb
